
    <div class="ad-delete-ios-pane ad-delete-ios-pane_left" >
        <div class="img ad-delete-ios-delete icon-minus"></div>
    </div>
    <div class="hide ad-delete-ios-pane ad-delete-ios-pane_right">
        <button  class="ad-delete-ios-buttons btn btn-danger">[Delete]</button >
    </div>
