<div class="panel panel-default">
    <form style="padding:10px" >
<%
    if (model) {
        var obj = model.attr();
        for (var o in obj) {
        
            if (o != 'id') {
%>
        <div class="form-group">
            <label><%= o %></label>
            <input type="text" name="<%= o %>" <%= model ? model.attr(o) ? 'value="'+model[o]+'"' : '' : '' %> class="form-control">
        </div>
<%        
            }
        
        }
        
    } else {
%>
    
      No form template provided ...   
    
<%    
    }
%>

    </form>
    <a class="ad-submit btn pull-right btn-primary" href="#">Submit</a><a class="ad-cancel btn pull-right btn-default" href="#">Cancel</a>
</div>
