<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%=typeof sails.config.appdev.title == 'undefined' ? 'AppBuilder' : sails.config.appdev.title%></title>

  <link href="../OpsPortal/opsportal.css" rel="stylesheet" />
  <link href="../OpsPortal/portal-scratch.css" rel="stylesheet" />

  <style>
    body {
      margin: 0;
    }
    .appdev-loading-container {
        height: 100vh;
        width: 100vw;
        font-family: Helvetica;
        background: rgb(0, 168, 158);
        color: white;
    }

    .appdev-loader {
        height: 20px;
        width: 250px;
        position: absolute;
        top: 200px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation-name: appdev-appear;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    .appdev-loader--dot {
        animation-name: appdev-loader;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        /* border: 1px solid white; */
    }
    .appdev-loader::before {
        background-image: url(/images/appdev_logo_white.png);
        background-repeat: no-repeat;
        width: 450px;
        height: 300px;
        margin: 0 auto;
        background-position: center center;
        background-size: contain;
        display:block;
        position: absolute;
        top: -300px;
        left: -100px;
        content: "";
        /* animation-name: appear;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: 1; */
    }
    .appdev-loader--dot:first-child {
        background-color: rgba(255,255,255,0.25);
        animation-delay: 0.5s;
    }
    .appdev-loader--dot:nth-child(2) {
        background-color: rgba(255,255,255,0.25);
        animation-delay: 0.4s;
    }
    .appdev-loader--dot:nth-child(3) {
        background-color: rgba(255,255,255,0.25);
        animation-delay: 0.3s;
    }
    .appdev-loader--dot:nth-child(4) {
        background-color: rgba(255,255,255,0.25);
        animation-delay: 0.2s;
    }
    .appdev-loader--dot:nth-child(5) {
        background-color: rgba(255,255,255,0.25);
        animation-delay: 0.1s;
    }
    .appdev-loader--dot:nth-child(6) {
        background-color: rgba(255,255,255,0.25);
        animation-delay: 0s;
    }
    .appdev-loader--text {
        position: absolute;
        top: 200%;
        left: 0;
        right: 0;
        width: 4rem;
        margin: auto;
    }
    .appdev-loader--text:after {
        content: "Loading";
        font-weight: bold;
        animation-name: appdev-loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .appdev-logo {
    }
    
    @keyframes appdev-appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes appdev-loader {
        15% {
            transform: translateX(0);
        }
        45% {
            transform: translateX(230px);
        }
        65% {
            transform: translateX(230px);
        }
        95% {
            transform: translateX(0);
        }
    }
    @keyframes appdev-loading-text {
        0% {
            content: "Loading";
        }
        25% {
            content: "Loading.";
        }
        50% {
            content: "Loading..";
        }
        75% {
            content: "Loading...";
        }
    }
    </style>

</head>
<body>


    <div class="appdev-loading-container">
        <div class="appdev-loader">
            <div class="appdev-loader--dot"></div>
            <div class="appdev-loader--dot"></div>
            <div class="appdev-loader--dot"></div>
            <div class="appdev-loader--dot"></div>
            <div class="appdev-loader--dot"></div>
            <div class="appdev-loader--dot"></div>
            <div class="appdev-loader--text"></div>
        </div>
    </div>
    <div appdev-opsportal="default" portal-autoenter="true" ></div>


<!-- div><%- sails.config.environment %>  </div -->
<script type='text/javascript' src='/steal/steal<%- sails.config.environment == 'development'? '': '.production' %>.js?OpsPortal' config='/stealconfig.js'></script> 


</body>

</html>






