<form method="POST" action="/site/login">
<div>

    <div id="appDev-formLogin" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" translate=1>Login</h4>
                    <div class="busy-icon"></div>
                </div>

                <div class="modal-body">
                    <form role="form">
                      <div class="form-group">
                        <label for="username" translate=1>Username</label>
                        <input type="text" class="form-control" id="username">
                      </div>
                      <div class="form-group">
                        <label for="password" translate=1>Password</label>
                        <input type="password" class="form-control" id="password">
                      </div>
                    </form>
                    
                    <div class="alert alert-danger" role="alert">
                    </div>
                    
                </div>
                
                <div class="modal-footer">
                      <button type="submit" class="btn btn-default login" translate=1>Submit</button>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
</form>