table.appDev-login-form, .appDev-login-form tbody, .appDev-login-form td {
    border:none;
}

#appDev-formLogin .modal-dialog {
    width: 800px;
    max-width: 800px;
}

#appDev-formLogin .busy-icon {
    float: right;
}

#appDev-formLogin .alert {
    display: none;
}

#appDev-formLogin .cas iframe {
    width: 750px;
    height: 550px;
    border: 0 none;
}