<div>

    <div id="appDev-formLogin" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" translate=1>Re-login required</h4>
                </div>
                <div class="modal-body">
                    <div class="cas"><iframe src="/site/login-done"></iframe></div>
                    <!-- "/site/login-done" page will call AD.ui.reauth.end() when ready. -->
                </div>
            </div>
        </div>
    </div>
    
</div>