<div id="appDev-formLogin" button_text="Submit" form_title="Re-login">
   <form>
     <table width="100%" class="appDev-login-form">
       <tr>
          <td>User ID</td>
          <td><input type="text" name="userID" /></td>
          <td class="error" field_error_msg="userID"></td>
       </tr>
       <tr>
          <td>Password</td>
          <td><input type="password" name="pWord" id="pWord" /></td>
          <td class="error" field_error_msg="pWord"></td>
       </tr>
      </table>
    </form>
    <div class="alert"></div>
</div>